*, *::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #222;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  background-color: rgba(252, 252, 252);
  border-radius: 12px;
  padding: 0.5rem 1rem;
  border: 1px solid #aaa;
}

.logo-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-text {
  font-family: 'Georgia', serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #2c2929;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li {
  background-color: rgba(200, 200, 200, 0.3);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  border: 1px solid #aaa;
  transition: all 0.3s;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s;
}

#theme-toggle {
  background-color: rgba(200, 200, 200, 0.3);
  border: 1px solid #aaa;
  border-radius: 12px;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.3s;
}

#theme-toggle:hover {
  background-color: rgba(200, 200, 200, 0.6);
  border-color: #888;
}

.hidden {
  display: none;
}

body.dark-theme {
  background-color: #1a1a1a;
  color: #eee;
}

body.dark-theme .navbar {
  background-color: #222;
}

body.dark-theme .nav-links li a {
  color: #eee;
}

body.dark-theme .nav-links li a:hover {
  color: #f3a6a6;
}

.hero {
  background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsX29mZmljZV80M19hbl9pbGx1c3RyYXRpdW9uX29mX2Nsb3Vkc19vbl9hX2JsYWNrX2JhY2tncl9hNjQ0NTNmNS1jOThhLTQzZTAtYjllOC0yYjEyZjUxNDgyOWFfMS5qcGc.jpg');
  background-size: cover;      /* Cover the entire section */
  background-position: center; /* Center the image */
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;           /* Full viewport height */
  display: flex;               /* For positioning content inside */
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
}