*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  color: #222;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 100;
  background: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: center;
}

.navbar-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  gap: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  background-color: rgb(206, 195, 195);
  padding: 0.2rem 0.5rem;
  border-radius: 10px;
  backdrop-filter: blur(4px);
}

.logo-icon {
  width: 40px;
  height: 38px;
}

.logo-text {
  font-family: 'Georgia', serif;
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: bold;
  color: #292626;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-links {
  display: flex;
  gap: 0.6rem;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  transition: 0.3s;
}

.nav-links li a:hover {
  background-color: rgba(255,255,255,0.2);
  color: #cfaa58;
}

#theme-toggle {
  background-color: rgba(172, 153, 153, 0.5);
  border: none;
  padding: 0.2rem 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: clamp(1rem, 2vw, 1rem);
  color: #fff;
  transition: 0.3s;
}

#theme-toggle:hover {
  background-color: rgba(255,255,255,0.4);
}

#menu-btn {
  display: none;
  background: rgba(255,255,255,0.2);
  border: none;
  font-size: 1.6rem;
  cursor: pointer;
  color: #fff;
  padding: 0.02rem 0.5rem;
  border-radius: 8px;
}

#menu-btn:hover {
  background: rgba(255,255,255,0.4);
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(8px);
  z-index: 99;
}

.mobile-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.mobile-menu li a {
  padding: 1rem 2rem;
  display: block;
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid rgba(255,255,255,0.2);
  transition: 0.3s;
}

.mobile-menu li a:hover {
  background-color: rgba(255,255,255,0.2);
  color: #d46a6a;
}

.hero {
  background-image: url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL3Jhd3BpeGVsX29mZmljZV80M19hbl9pbGx1c3RyYXRpdW9uX29mX2Nsb3Vkc19vbl9hX2JsYWNrX2JhY2tncl9hNjQ0NTNmNS1jOThhLTQzZTAtYjllOC0yYjEyZjUxNDgyOWFfMS5qcGc.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 1;
}

.hero {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  gap: 2rem;
}

/* TEXT SIDE */
.hero-content {
  flex: 1;
  color: #fff;
}

.hero-subtitle {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 1px;
  opacity: 0.8;
  color: red;
}

.hero-title {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 700;
  margin: 0.5rem 0;
  letter-spacing: 4px;
  color: #f6f1eb;
}

.hero-desc {
  font-style: italic;
  font-size: clamp(1.3rem, 1.6vw, 1.5rem);
  margin-bottom: 0.5rem;
}

.hero-trust {
  font-size: 0.95rem;
  opacity: 0.9;
  margin-bottom: 1.5rem;
}

/* CTA BUTTON */
.cta-btn {
  padding: 0.8rem 1.6rem;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(8px);
  border-radius: 12px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  background: rgba(255,255,255,0.3);
}

/* IMAGE GRID */
.hero-images {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0.7rem;
}

.img-box {
  width: 100%;
  height: 230px;
  overflow: hidden;
  border-radius: 12px;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  display: none !important;
}

.moon-icon {
  color: #222;
}
body.dark-theme .moon-icon {
  color: #eee;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .nav-right {
    display: none;
  }

  #menu-btn {
    display: block;
  }

  .hero-inner {
    flex-direction: column;
    text-align: center;
  }

  .hero-images {
    display: none;
  }

  .cta-btn {
    margin: 0 auto;
  }
}
